/* src/sites/dbs/quasar.variables.scss */
$primary: #a05a2c;
$secondary: #d59744;
$accent: #bf6b30;

$minor1: #d3b18c;
$minor2: #6a4e42;
$neutral: #f8f3ee;

$dark: #2e2e2e;
$dark-page: #1c1c1c;

$positive: #65c058;
$negative: #b03a2e;
$info: #a05a2c;
$warning: #d59744;

$highlight-scripture: #d59744;
$shadow: #7f6e63;
$success-highlight: #a05a2c;
/* --- Prebuilt series (banner + intro) --- */

$prebuilt-banner-position: center left;

$prebuilt-text-green: #2e4d3a;
$prebuilt-title-ink: $neutral;

$prebuilt-overlay-left: rgba($primary, 0.25);
$prebuilt-overlay-right: rgba(0, 0, 0, 0.15);
